.p-dialog .p-dialog-header {
    background-color: #3E5C76;
    color: white;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.p-dialog {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.p-dialog-content label {
    color: #333;
    font-size: 14px;
    font-weight: bold;
}

.p-dialog-content .flex {
    align-items: center;
    gap: 1rem;
}

.p-dialog-content .w-6rem {
    flex-shrink: 0;
    width: 8rem;
}

.p-dialog-content input,
.p-dialog-content .p-dropdown,
.p-dialog-content .p-selectButton {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0.5rem;
}

.p-dialog-content input:focus,
.p-dialog-content .p-dropdown:focus,
.p-dialog-content .p-selectButton:focus {
    border-color: #3E5C76;
    box-shadow: 0 0 5px rgba(63, 81, 181, 0.5);
}

.p-dialog .p-button {
    border-radius: 5px;
    font-size: 14px;
    padding: 0.5rem 1rem;
}

.p-dialog .p-button-secondary {
    background-color: #f1f1f1;
    color: #333;
    border: 1px solid #ccc;
}

.p-dialog .p-button-secondary:hover {
    background-color: #e0e0e0;
}

.floating-btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: #3E5C76;
    color: white;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.floating-btn:hover {
    background-color: #3E5C76;
}

.floating-btn mat-icon {
    font-size: 1.5rem;
    margin: 1rem;
}