<mat-card class="user-card">
    <mat-card-header>
        <mat-card-title>{{ userInfo.name }} {{ userInfo.last }} </mat-card-title>
        <mat-card-subtitle>{{ userInfo.email }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>Role: {{ userInfo.type }}</p>
    </mat-card-content>

    <mat-card-actions>
        <div class="action-buttons">
            <button mat-icon-button class="action-button" (click)="onEdit()">
                <span class="material-icons">edit</span>
            </button>
            <button mat-icon-button class="action-button delete-button" (click)="onDelete()">
                <span class="material-icons">delete</span>
            </button>
        </div>
    </mat-card-actions>
</mat-card>