# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
storySwap_front/node_modules
storySwap_back/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
storySwap_front/.angular
storySwap_front/.sass-cache/
storySwap_front/connect.lock
storySwap_front//coverage
storySwap_front//libpeerconnection.log
storySwap_front/testem.log
storySwap_front/typings

# System files
.DS_Store
Thumbs.db

storySwap_back/.env