<mat-card *ngIf="book" class="book-card">
    <img mat-card-image [src]="book.image" alt="{{ book.title }}" />

    <mat-card-content>
        <h3>{{ book.title }}</h3>
        <p>{{ book.author }}</p>
    </mat-card-content>

    <mat-card-actions style="display: flex; justify-content: flex-end;">
        <!-- <button class="icon-button" (click)="onEdit()">
            <span class="material-icons">edit</span>
        </button> -->

        <button class="icon-button" (click)="onDelete()">
            <span class="material-icons">delete</span>
        </button>
    </mat-card-actions>
</mat-card>