.book-image {
  width: 80%;
  height: 80%;
  border-radius: 5px;
  object-fit: cover;
}

.card-body {
  padding: 10px 0;
}

.book-title {
  font-size: 16px;
  font-weight: bold;
}

.book-author {
  font-size: 14px;
  color: #555;
}

.book-date {
  font-size: 14px;
  color: #888;
}

.card {
  box-shadow: none;
  border: none;
  background-color: transparent;
  min-width: 150px;
  width: 150px;
  align-items: center;
  background-color: transparent;
  text-align: center;
}

.btn-close {
  position: absolute;
  top: 0px;
  right: 15px;
  padding: 0px;
  background-color: white;

  width: 24px;
  height: 24px;
  line-height: 24px;

  .mat-icon {
    width: 16px;
    height: 16px;
    line-height: 16px;
  }
  .material-icons {
    font-size: 16px;
  }
}
