.book-card {
  width: 200px;
  height: 350px;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
}
.book-card img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}
mat-card-content {
  text-align: center;
}
mat-icon {
  font-size: 16px;
  color: beige;
}
.mustard-star {
  font-size: 16px;
  color: #ffdd57;
}
.book-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
