<mat-drawer-container class="container" autosize>
  <div>
    <nav-bar-menu></nav-bar-menu>
    <button
      type="button"
      class="toggleButton"
      style="
        position: fixed;
        top: 50%;
        left: 10px;
        width: 10px;
        height: 50px;
        background-color: #9dbebb;
        border: none;
        cursor: pointer;
        margin-right: 10px;
        border-radius: 5px;
      "
      (click)="drawer.toggle()"
    ></button>
    <router-outlet></router-outlet>
  </div>
  <mat-drawer #drawer class="sidenav" mode="over">
    <div>
      <h3 style="text-align: center">Welcome Uriel López</h3>
      <div style="width: 100%; display: flex; justify-content: center">
        <img src="assets/iconwo.png" alt="Profile" width="250px" />
      </div>
      <div style="text-align: center; margin-top: 20px;">
        <button mat-icon-button (click)="openNotifications()">
          <mat-icon>notifications</mat-icon>
        </button>
      </div>
    </div>
    <hr />
    <h4>Account</h4>
    <div>
      <button
        mat-button
        [style]="buttonMenu"
        [routerLink]="['/wishlist']"
        routerLinkActive="router-link-active"
      >
        Wishlist
      </button>
      <button
        [style]="buttonMenu"
        mat-button
        [routerLink]="['/history']"
        routerLinkActive="router-link-active"
      >
        History
      </button>
      <button
        [style]="buttonMenu"
        mat-button
        [routerLink]="['/library']"
        routerLinkActive="router-link-active"
      >
        Library
      </button>
    </div>
    <hr />
    <h4>Preferences</h4>
    <div>
      <button [style]="buttonMenu" mat-button>Settings</button>
      <button [style]="buttonMenu" mat-button>Privacy</button>
    </div>
    <hr />
    <div>
      <button [style]="buttonMenu" mat-button>English</button>
      <button [style]="buttonMenu" mat-button>Mexico</button>
      <button [style]="buttonMenu" mat-button>Customer Service</button>
      <button [style]="buttonMenu" mat-button>Sign Out</button>
    </div>
  </mat-drawer>
</mat-drawer-container>
